@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono");
body {
  background: #151818;
  color: #D3CCC6;
}

.gameGoesHere {
  margin: 50px auto;
  width: fit-content;
  width: -moz-fit-content;
  z-index: 0;
  font-family: "Roboto Mono", monospace;
  overflow: hidden;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: minmax(auto, 176px) auto auto;
  grid-template-areas: ". levelInfo ." "playerStats map gameInfo" "log map controlPad" ". footer .";
}

.levelInfo {
  grid-area: levelInfo;
}

.map {
  grid-area: map;
}

.playerStats {
  grid-area: playerStats;
  font-size: 0.7rem;
}
.playerStats table {
  border: 1px solid black;
  border-radius: 10px;
}

.log {
  grid-area: log;
  font-size: 0.7rem;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.log .GOODLOG {
  background: #5CC45C;
  color: black;
  border: 1px solid black;
  padding: 1px;
}
.log .BADLOG {
  background: #F57373;
  color: black;
  border: 1px solid black;
  padding: 1px;
}

.gameInfo {
  grid-area: gameInfo;
  text-align: right;
}
.gameInfo button {
  width: 32px;
  height: 32px;
  padding: 0;
}

.controlPad {
  grid-area: controlPad;
  padding: 10px;
  height: 132px;
  display: grid;
  grid-template-rows: 34px 34px 34px;
  grid-gap: 0px;
  grid-template-areas: "tL tM tR" "mL mM mR" "bL bM bR";
  width: 102px;
}
.controlPad .cpSquare {
  width: 32px;
  height: 32px;
}
.controlPad #cpTopMid, .controlPad #cpMidLeft, .controlPad #cpMidMid, .controlPad #cpMidRight, .controlPad #cpBotMid {
  background: #D3CCC6;
  border: 1px solid black;
}

.footer {
  grid-area: footer;
  font-family: "Roboto", sans-serif;
  font-size: 0.5rem;
  text-align: right;
}
.footer a {
  color: #D3CCC6;
  text-decoration: none;
}

.header {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.modal {
  display: none;
  z-index: 1;
  color: black;
}
.modal .modalBackground {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.modal .modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background: #D3CCC6;
  border: 2px solid #0D4D4D;
  border-radius: 10px;
  font-size: 0.8rem;
}
.modal .modalContent .leftColumn {
  display: inline-block;
  width: 45%;
  left: 0;
}
.modal .modalContent .rightColumn {
  display: inline-block;
  width: 45%;
  right: 0;
}
.modal .modalContent table {
  margin: auto;
}

.row, .square {
  margin: 0;
  padding: 0;
  border: 0;
  height: 16px;
}

.square {
  display: inline-block;
  width: 16px;
  background: #151818;
}

.FLOOR {
  background: #D3CCC6;
}

.WALL {
  background: #0D4D4D;
}

.PLAYER, .PLAYERfaker {
  background: #009999;
}

.ENEMY, .ENEMYfaker {
  background: #FF0000;
}

.TREASURE, .TREASUREfaker {
  background: #00CC00;
}

.WEAPON, .WEAPONfaker {
  background: #FF7400;
}

.EXIT, .EXITfaker {
  background: #CD0074;
}

.BOSS, .BOSSfaker {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #8C0953;
  border: 2px solid black;
}

@media screen and (max-width: 849px) {
  .header {
    font-size: 1rem;
  }

  .gameGoesHere {
    width: 100%;
    overflow: auto;
    grid-template-columns: auto auto auto;
    grid-template-areas: "levelInfo levelInfo gameInfo" "map map controlPad" "map map controlPad" "playerStats log log" ". . footer";
  }

  .controlPad {
    padding: 10px 0px 0px 0px;
  }

  .modalContent {
    position: absolute;
    top: 0;
    left: 0;
    transform: none;
    width: 95%;
    height: 95%;
    overflow: scroll;
  }
}
@media screen and (max-width: 849px) and (orientation: landscape) {
  .gameGoesHere {
    grid-template-columns: minmax(auto, 33%) auto auto;
    grid-template-areas: ".levelInfo ." "playerStats map gameInfo" "log map controlPad" ". . footer";
  }

  .controlPad {
    justify-content: center;
  }
}
